.navbar-light{
	border-style: double;
	border-color: #bd2d81;
	border-radius: 15px;
	max-width: 400px;
}
.nav-item:hover{
	text-decoration: underline;
}
b{
	color: black;
}
img{
	margin-top: 100px;
}
.position{
	margin-top: 150px;
    border-left: solid;
    border-color: #bd2d81;
}